/* メインパネルのスタイル */
.main-panel {
  border: 1px solid silver;
  display: flex;
  height: 550px;
  width: 1138px;
  padding: 10px;
}

/* SpreadJSのスタイル */
#ss {
  border: 1px solid gray;
  flex: none;
  height: 550px;
  width: 624px;
}

/* 数式エディタに関連する要素のスタイル */
.formulaeditor-panel {
  flex: none;
  height: 550px;
  width: 500px;
  margin-left: 10px;
}

#apply {
  margin-right: 162px;
}

#fe {
  border: 1px solid gray;
  height: 520px;
  margin-top: 4px;
}