/* メインパネルのスタイル */
.main-panel {
  border: 1px solid silver;
  display: flex;
  block-size: 550px;
  inline-size: 1138px;
  padding: 10px;
}

/* SpreadJSのスタイル */
#ss {
  border: 1px solid gray;
  flex: none;
  block-size: 550px;
  inline-size: 624px;
}

/* 数式エディタに関連する要素のスタイル */
.formulaeditor-panel {
  flex: none;
  block-size: 550px;
  inline-size: 500px;
  margin-inline-start: 10px;
}

#apply {
  margin-inline-end: 162px;
}

#fe {
  border: 1px solid gray;
  block-size: 520px; 
  margin-block-start: 4px;
}
